html {
	width: 100%;
}

body {
	text-align: center;
	background-color: black;
}

h1 {
	font-family: 'Audiowide', cursive;
	color: white;
	font-size: 50px;
	width: 500px;
	margin: 40px auto 20px auto;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	color: #fff;
	min-height: 35px;
	width: 500px
	margin: 0 auto;
}

.buttons {
	margin: auto;
	display: flex;
	justify-content: center;
	width: 500px;
	height: 400px;
	flex-wrap: wrap;
}

.green {
	width: 200px;
	height: 200px;
	background-color: #008000;
	border-top-left-radius: 100px;
	border-width: 10px 5px 5px 10px;
	border-color: black;
	border-style: solid;
}

.red {
	width: 200px;
	height: 200px;
	background-color: #FF0000;
	border-top-right-radius: 100px;
	border-width: 10px 10px 5px 5px;
	border-color: black;
	border-style: solid;
}

.blue {
	width: 200px;
	height: 200px;
	background-color: #0000FF;
	border-bottom-right-radius: 100px;
	border-width: 5px 10px 10px 5px;
	border-color: black;
	border-style: solid;
}

.yellow {
	width: 200px;
	height: 200px;
	background-color: #FFFF00;
	border-bottom-left-radius: 100px;
	border-width: 5px 5px 10px 10px;
	border-color: black;
	border-style: solid;
}

.btnpad:hover {
	opacity: 0.9;
}

.btnpad:active {
	background-color: #000;
}

.start {
	padding-top: 30px;
	width: 500px;
	margin: 0 auto;
}

#start {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

#reset {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	display: none;
}

@media only screen and (max-width: 600px) {
  h1 {
    width: 420px;
    margin: 20px auto;
  }

  h2 {
  	width: 420px;
  	margin: 10px auto;
  }

  .start {
  	padding-top: 20px;
  	padding-bottom: 10px;
  	width: 420px;
  }

  .buttons {
  	width: 420px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
  	font-size: 40px;
    width: 360px;
    margin: 10px auto;
  }

  h2 {
  	font-size: 16px;
  	min-height: 20px;
  	width: 360px;
  }

  .buttons {
  	width: 360px;
  	height: 260px;
  }

  .green {
	width: 165px;
	height: 165px;
	border-width: 10px 5px 5px 10px;
  }

  .red {
	width: 165px;
	height: 165px;
	border-width: 10px 10px 5px 5px;
  }

  .blue {
	width: 165px;
	height: 165px;
	border-width: 5px 10px 10px 5px;
  }

  .yellow {
	width: 165px;
	height: 165px;
	border-width: 5px 5px 10px 10px;
  }

  .start {
  	padding-top: 80px;
  	padding-bottom: 10px;
  	width: 360px;
  }

  #start {
  	font-size: 10px;
  }

  #reset {
  	font-size: 10px;
  }
}