body {
	margin: 200px 200px;
}

.buttons {
	display: flex;
	justify-content: center;
	width: 400px;
	height: 400px;
	flex-wrap: wrap;
}

.btn-green {
	width: 200px;
	height: 200px;
	background-color: green;
	border-top-left-radius: 100px;
}

.btn-red {
	width: 200px;
	height: 200px;
	background-color: red;
	border-top-right-radius: 100px;
}

.btn-blue {
	width: 200px;
	height: 200px;
	background-color: blue;
	border-bottom-right-radius: 100px;
}

.btn-yellow {
	width: 200px;
	height: 200px;
	background-color: yellow;
	border-bottom-left-radius: 100px;
}

.btn-green:hover {
	background-color: #006400;
}

.btn-red:hover {
	background-color: #B00000;
}

.btn-blue:hover {
	background-color: #0000CD;
}

.btn-yellow:hover {
	background-color: #999900;
}

.btn:active {
	background-color: #000;
}