body {
	text-align: center;
	background-color: black;
}

h1 {
	font-family: 'Audiowide', cursive;
	color: white;
	margin: 40px auto 20px auto;
	font-size: 50px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	color: #fff;
	min-height: 35px;
}

.buttons {
	margin: auto;
	display: flex;
	justify-content: center;
	width: 550px;
	height: 400px;
	flex-wrap: wrap;
}

.btn-green {
	width: 200px;
	height: 200px;
	background-color: #008000;
	border-top-left-radius: 100px;
	border-width: 10px 5px 5px 10px;
	border-color: black;
	border-style: solid;
}

.btn-red {
	width: 200px;
	height: 200px;
	background-color: #FF0000;
	border-top-right-radius: 100px;
	border-width: 10px 10px 5px 5px;
	border-color: black;
	border-style: solid;
}

.btn-blue {
	width: 200px;
	height: 200px;
	background-color: #0000FF;
	border-bottom-right-radius: 100px;
	border-width: 5px 10px 10px 5px;
	border-color: black;
	border-style: solid;
}

.btn-yellow {
	width: 200px;
	height: 200px;
	background-color: #FFFF00;
	border-bottom-left-radius: 100px;
	border-width: 5px 5px 10px 10px;
	border-color: black;
	border-style: solid;
}

.btn-green:hover {
	background-color: #91ff91;
}

.btn-red:hover {
	background-color: #F99;
}

.btn-blue:hover {
	background-color: #99F;
}

.btn-yellow:hover {
	background-color: #ffa;
}

.btn:active {
	background-color: #000;
}

.start {
	padding-top: 30px;

}

#start {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}